*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1d1d;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}
section::before
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5e5e5e1f;
    clip-path: circle(65% at 100% -20%);
}
section::after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0084ff3b;
    clip-path: circle(35% at 0% 100%);
}
.container
{

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  rgba(255, 255, 255, 0.075);
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    transition: 0.4s;
    transition-delay: 0.6s;
}
.container .card:hover
{
    transform: scale(1.05);
}
.container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx
{
   transform: translateY(-40px);
}
.container .card .imgBx img
{
    max-width: 70%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx img
{
    transform: translate(100px,-80px) rotate(5deg) scale(0.5);
}
.container .card .imgBx h2
{
    color: #fff;
    font-weight: 600;
}
.container .card .content
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content
{
    opacity: 1;
    visibility: visible;
    transform: translateY(-33px);
}
.container .card .content a
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: white;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
}
.container .card  h3
{
    color: #fff;
    font-weight: 600;   
}
.navbar
{
    
    position: absolute;
    height: 12%;
    display: block;
    align-items: center;
    width: 100%;
    top: 0;
    
}
.nav
{   
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
}
.container .card .info
{
    position: absolute;
    top: -250px;
    padding: 12px 30px;
    background: rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: small;
    color: #111;
    transform: translate3d(-80px, -30px, 0);
    
}
.container .card .info h2
{
    
    color: rgb(56, 56, 56);
}


