*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*background: #1b1b1b;*/
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(243, 243, 243, 0.5)),url(/gray1.jpg);
    background-position: center;
    background-size: 900px;
}
section::before
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #006eff00;
    clip-path: circle(65% at 100% -20%);
}
section::after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8d755d00;
    clip-path: circle(38% at 0% 100%);
}
.container
{

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  rgba(255, 255, 255, 0.075);
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    transition: 0.4s;
    transition-delay: 0.6s;
}
.container .card:hover
{
    transform: scale(1.05);
}
.container .card .imgBx
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx
{
   transform: translateY(-40px);
}
.container .card .imgBx img
{
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
.container .card:hover .imgBx img
{
    transform: translate(100px,-80px) rotate(5deg) scale(0.5);
    filter: blur(3px) saturate(10%);
    
}
.container .card .imgBx h2
{
    color: #fff;
    font-weight: 600;
}
.container .card .content
{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .content
{
    opacity: 1;
    visibility: visible;
    transform: translateY(-33px);
}
.popup-btn
{
    z-index: 2;
    letter-spacing: 1px;
    cursor: pointer;
}

.container .card .content a
{
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
}
.container .card  h3
{
    color: #fff;
    font-weight: 600;   
}
.navbar
{
    position: absolute;
    height: 11%;
    display: block;
    align-items: center;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.432);
}
.nav
{   
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
}
nav ul li:hover
{
    transform: scale(1.2);
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
}
.container .card .info
{
    position: absolute;
    top: -250px;
    padding: 12px 30px;
    background: rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: small;
    color: rgb(17, 17, 17);
    transform: translate3d(-80px, -30px, 0);   
}
.container .card .info h2
{
    color: rgb(56, 56, 56);
}
.navbar .logo
{
    position: absolute;
    width: 120px;
    right: 20px;
    top: 35px;
    transition: 0.4s;
    filter: blur(1px) saturate(50%);
    
}
.navbar .logo:hover
{
    transform: scale(1.2);
    filter: blur(0px) saturate(100%);
}
.navbar h2
{
    position: absolute;
    color: rgba(255, 255, 255, 0.295);
    top: 45px;
    right: 220px;
    font-size: 1.5rem;
    transition: 0.5s;
}
.navbar h2:hover
{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 60px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
    letter-spacing: 1px;
    transform: scale(1.1);
}
lottie-interactive
{
    top: 0;
    
}
.popup-view
{
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}
.popup-view.active{
    opacity: 1;
    visibility: visible;
}

.popup-card
{
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.popup-card .product-img
{
    z-index: 2;
    background-color: rgba(53, 53, 53, 0.788);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.popup-card .product-img img
{
    z-index: 2;
    position: relative;
    width: 72%;
    left: 22px;
    bottom: -6px;
}
.popup-card .info
{
    z-index: 2;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}


.popup-card .info h2
{
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}
.popup-card .info h2 span
{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.popup-card .info p
{
    font-size: 15px;
    margin: 10px;
}
.popup-card .info .price
{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
.popup-card .info .PP
{
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}
.popup-card .info .QW
{
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    padding: 10px 50px;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
}
.popup-card .close-btn
{
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
@media (max-width: 900px)
{
    .popup-card
    {
        flex-direction: column;
        width: 550px;
        height: auto;
    }
    .popup-card .product-img
    {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    } 
    .popup-card .product-img img
 {
    left: -100px;
    max-width: 30%; 
    bottom: 3px;
 }
 .popup-card .info
 {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
 }
 .popup-card .info h2
 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
 } 
 .popup-card .info h2 span
 {
    font-size: 10px;
 } 

 .popup-card .info h2 p
 {
    margin: 5px;
    font-size: 13px;
 }
 .popup-card .info .price
 {
    margin: 5px;
    font-size: 30px;
 }
 .popup-card .info .PP
 {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
 }
 .popup-card .info .QW
 {
    font-size: 14px;
 }
 .popup-card .close-btn
 {
    z-index: 4;
 }
 .popup-card .info .PP
 {
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
 }
 .popup-card .info .QW
 {
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    padding: 10px 50px;
    text-transform: uppercase;
    border-radius: 20px;
    text-decoration: none;
 }
 .popup-card .close-btn
 {
    z-index: 4;
    color: #fff;
 }
}




